form {
  margin: 1rem 0;
}

form label {
  display: table;
  font-size: 1.3rem;
}

form input {
  margin-top: 0.3rem;
  font-size: 1.3rem;
}

.table {
  padding: 1rem;
  background: rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.row {
  display: grid;
  grid-template-columns: 50px repeat(5, 1fr);
  gap: 0.5rem;
  margin: 1rem 0;
}

.row > div {
  max-width: 100%;
}

.row > div > p {
  max-width: 100%;
  word-wrap: break-word;
}
